ticket()
      display flex
      line-height .45rem
      padding .32rem 0
      border-top 1px #ddd solid
    .item-info
      flex 1
      .item-tips
        color $blueText
        .item-ding
          font-size .24rem
        .item-tui
          font-size .2rem
          border 1px solid #ddd
          display inline-block
          line-height .28rem
    .price-area
    display flex
    flex-direction column
    padding-left .2rem
    padding-top .2rem
    .item-price
      color #ff8c12
      font-size .4rem
    .item-yd
      background #ff8c12
      color #fff
      border-radius .3rem
      height: .52rem;
      margin-top: .1rem;
      font-size: .23rem;
      line-height: .52rem;
      padding 0 .2rem